{% extends "base.html" %}

{% block content %}
<section id="monitor">
    <div class="monitor_box">
        <h1 id="sound_value">{{value}}</h1>
        <p>Valor del sonido</p>
    </div>
</section>

<script>
    console.log("Script monitor iniciando");
    var load_val = parseInt($("#sound_value").text());
    if (load_val > 60) {
        setTimeout(function () {
            alert("Sonido muy alto, debe tener cuidado");
        }, 1000);
    }
    var url = document.location.origin;

    function getValue() {
        $.get(url + "/latest", function (data) {
            $("#sound_value").text(data);
            let data_int = parseInt(data);
            if (data_int > 70) {
                alert("Sonido muy alto, debe tener cuidado");
            }
        });
    }
    setInterval(getValue, .5);
</script>
{% endblock %}